files:
  - path: /var/log/supervisor/apache*.log
    tag: ecs-rc-api-$DEPLOYMENT_TYPE-apache2.log
  - path: /var/log/supervisor/supervisord.log
    tag: ecs-rc-api-$DEPLOYMENT_TYPE-supervisor-supervisord.log
  - path: /var/log/supervisor/remote-syslog.log
    tag: ecs-rc-api-$DEPLOYMENT_TYPE-supervisor-remote-syslog.log
destination:
  host: logs2.papertrailapp.com
  port: 39824
  protocol: tls
exclude_patterns:
